.page{
    display:flex;
    place-items: center;
    flex-direction: column;
    gap: 2rem;
}

.head{
    display: flex;
    place-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    place-items: center;
}

.main{
    display: flex;
    place-items: center;
}